body {
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    background-color: #71797E;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
}

.logo {
    color: white;
    text-decoration: none;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    font-size: 3.0rem;
}

.pages {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.page-link {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
}

.social {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.social li {
    margin-right: 20px;
}

.facebook, .twitter, .linkedin {
    width: 40px;
    height: 40px;
}

a:hover {
    font-weight: bold;
}

.button-icon {
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
}

#toggle-icon {
    display: none;
}

@media (max-width: 768px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
    }

    .button-icon {
        display: block;
    }

    .pages {
        display: none;
        flex-direction: column;
        margin-left: 0px;
    }

    .pages li {
        margin-bottom: 10px;
    }

    .social {
        display: none;
        margin-left: 0px;
    }

    #toggle-icon:checked ~ .pages,
    #toggle-icon:checked ~ .social {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}
