<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MysteryCode - Portfolio</title>

    <!-- Google Font 'Great Vibes' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/portfolio.css">
</head>
<body>
    <nav class="nav-menu">
        <a href="/templates/index.html" class="logo">MysteryCode</a>

        <label for="toggle-icon" class="button-icon">☰</label>
        <input type="checkbox" id="toggle-icon">
        
        <ul class="pages">
            <li><a href="/templates/index.html" class="page-link">Home</a></li>
            <li><a href="/templates/about.html" class="page-link">About</a></li>
            <li><a href="/templates/services.html" class="page-link">Services</a></li>
            <li><a href="/templates/portfolio.html" class="page-link">Portfolio</a></li>
            <li><a href="/templates/contact.html" class="page-link">Contact</a></li>
        </ul>
        <ul class="social">
            <li>
                <a href="">
                    <img src="/static/img/facebook.png" alt="Facebook" class="facebook">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/static/img/twitter.png" alt="Twitter" class="twitter">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/static/img/linkedin.png" alt="Linkedin" class="linkedin">
                </a>
            </li>
    </nav>
    
    <h1>This is my Portfolio page</h1>
</body>
</html>